<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacOSX Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOS Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D8D38121A5F3082008DFEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8D38281A5F3082008DFEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8D386F1A5F37E8008DFEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8D38871A5F37E8008DFEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
